.aboutme_wrapper{

}

.flex_container-center-two {
    display: flex;
    justify-content: center;
}

.flex_container-center-two div {
    background-color: #f1f1f1;
    width: 30%;
    height: 805px;
    margin: 10px;
    margin-bottom: 70px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}